$color_1: white;
$color_2: black;
$color_3: #466875;
$color_4: #3F8A83;
$color_5: #ff5400;
$color_6: #9443BB;
$font-family_1: system-ui, sans-serif;
$background-color_1: #CFCFCF;
$background-color_2: #333333;
$background-color_3: #466875;
$background-color_4: rgba(239, 239, 239, 0.8);
$background-color_5: black;
$background-color_6: white;
$background-color_7: #C6E8E9;
$background-color_8: #FCD2C8;
$background-color_9: #E8C1FD;
$font-family_1: system-ui, sans-serif;
$background-color_10: #7d7c7c;
$background-color_11: rgba(0, 0, 0, 0.5);
$background-color_12: rgba(253, 253, 253, 0.5);
$background-color_13: rgba(0,0,0,0.8);
$background-color_14: #fff;